# Fichiers et dossiers générés par l'éditeur de code
.idea/
.vscode/
*.swp

# Fichiers de log
*.log
npm-debug.log*

# Dossiers de dépendances
/node_modules/

# Dossier de build
/dist/
/out-tsc/

# Dossier de cache Angular
/.angular/

# Fichiers temporaires
/tmp/

# Rapport de couverture de tests
/coverage/

# Fichiers d'environnement (ne pas commiter les clés secrètes)
/src/environments/environment.prod.ts
/src/environments/environment.ts